extend ../layout.pug

block content 
    h3 #{empleado.nombre}
    p #{empleado.dni}
    p #{empleado.sexo}
    p #{empleado.fecha_nac}
    p #{empleado.fecha_inc}
    p #{empleado.salario}
    p #{empleado.cargo}
    p #{empleado.jefe_id}